<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:env="http://www.sitecore.net/xmlconfig/env/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<settings>
			<setting name="MailServer" value="smtp.mailserver.net" />
			<setting name="MailServerUserName" value="username" />
			<setting name="MailServerPassword" value="password" />

			<setting name="MailServerPort" value="587" />
			<setting name="MailServerUseSsl" value="false" />

			<setting name="MailServerSUbject" value="Publish Alert on {{Datetime}}" />

			<setting name="MailServerSenderName" value="Publish alert" />
			<setting name="MailServerSenderMail" value="do_not_reply@xyz.com" />
			<setting name="MailServerSenderMailPassword" value="" />

			<setting name="MailServerReceiverMail" value="mndalwadi@github.com" />

		</settings>
	</sitecore>
</configuration>